.container-fluid.tasty-fruit
    .container 
        .row
            h1.text-uppercase.text-center Смачний Фруктовий суп
            p.text-center Равным образом реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий в значительной степени обуславливает создание новых предложений.
        .row.justify-content-center.text-center.py-4
            a.fancy-button.text-uppercase(href="#") Замовити суп
.container-fluid
    .container 
        .row.text-center.justify-content-between.flex-nowrap.card-block
            div.col-lg-3(class="card")
                img(src="..." class="card-img-top" alt="icon")
                div(class="card-body")
                    h5(class="card-title") Працюємо 24/7
                    p(class="card-text") Наш сервіз працює цілодобово, без вихідних днів
            div.col-lg-3(class="card")
                img(src="..." class="card-img-top" alt="icon")
                div(class="card-body")
                    h5(class="card-title") Швидка доставка
                    p(class="card-text") Кур’єр доставить Вам їжу впродовж однієї години
            div.col-lg-3(class="card")
                img(src="..." class="card-img-top" alt="icon")
                div(class="card-body")
                    h5(class="card-title") Гарантована якість
                    p(class="card-text") Наша продукція має найвищий рівень якості ГОСТ-90210
            div.col-lg-3(class="card")
                img(src="..." class="card-img-top" alt="icon")
                div(class="card-body")
                    h5(class="card-title") Низькі ціни
                    p(class="card-text") У нас працює система накопичення балів після кожного замовлення
.container-fluid.bg-body-secondary.bt-comp
    .container
        .row.text-center
            h2 Про компанію
            p Насичене томатне пюре, ароматний гострий часник і запашні спеції: мускатний горіх, кориця, гвоздика, каєнський перець – все це створює пряний смак кетчупу. Ідеально доповнює такі страви, як вареники з м'ясом, борщ, картопля по-селянськи. Рекомендується додавати соус до м'яса, риби, овочів, макаронних виробів, запіканок і перших страв. 
.container-fluid.sale 
    .container 
        .row.justify-content-center.text-center
            p Акція! При замовленні двох піц - Pepsi в ПОДАРУНОК! Щонеділі при замовленні двох піц - Pepsi в ПОДАРУНОК! Збирайте компанію друзів, і ваші посиденьки стануть ще смачнішими з Cook Drive!
            a.fancy-button.my-3.text-uppercase(href="#") Переглянути меню
.container-fluid 
    .container 
        .row.text-uppercase.text-center.popular-meals
            h2.py-3 Наші популярні страви
            div
                a.fancy-button.col-lg-3(href="#") Перші блюда
                a.fancy-button.col-lg-3(href="#") Другі блюда
                a.fancy-button.col-lg-3(href="#") Напої
                a.fancy-button.col-lg-3(href="#") Десерт
.container-fluid.food-line
        .row
.container-fluid
    .container 
        .row.popular-meals.justify-content-center.py-4
            a.fancy-button.col-lg-3(href="#") Показати більше
.container-fluid.bg-body-secondary.py-5.justify-content-center.text-center
    .container 
        .row
            h2 Відгуки покупців
            p Дуже сподобалася надзвичайно швидка доставка (22 хвилини від прийняття замовлення до доставки під двері) та як завжди смачна їжа. Дякую! Окрема подяка хлопцю з доставки (ввічливий, приємний), під час мого здивування за швидкість запропонував залишити відгук.

               
        