.container-fluid.tasty-fruit
    .container 
        .row
            h1.text-uppercase.text-center Смачний Фруктовий суп
            p.text-center Равным образом реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий в значительной степени обуславливает создание новых предложений.
        .row.justify-content-center.text-center.py-4
            a.fancy-button.text-uppercase(href="#") Замовити суп
.container-fluid
    .container 
        .row.justify-content-center.text-center.juustify-content-center.lg-justify-content-between.lg-flex-nowrap.card-block
            div.col-lg-3.pt-4(class="card")
                <svg xmlns="http://www.w3.org/2000/svg" height="4em" viewBox="0 -960 960 960"><path d="M841-518v318q0 33-23.5 56.5T761-120H201q-33 0-56.5-23.5T121-200v-318q-23-21-35.5-54t-.5-72l42-136q8-26 28.5-43t47.5-17h556q27 0 47 16.5t29 43.5l42 136q12 39-.5 71T841-518Zm-272-42q27 0 41-18.5t11-41.5l-22-140h-78v148q0 21 14 36.5t34 15.5Zm-180 0q23 0 37.5-15.5T441-612v-148h-78l-22 140q-4 24 10.5 42t37.5 18Zm-178 0q18 0 31.5-13t16.5-33l22-154h-78l-40 134q-6 20 6.5 43t41.5 23Zm540 0q29 0 42-23t6-43l-42-134h-76l22 154q3 20 16.5 33t31.5 13ZM201-200h560v-282q-5 2-6.5 2H751q-27 0-47.5-9T663-518q-18 18-41 28t-49 10q-27 0-50.5-10T481-518q-17 18-39.5 28T393-480q-29 0-52.5-10T299-518q-21 21-41.5 29.5T211-480h-4.5q-2.5 0-5.5-2v282Zm560 0H201h560Zm-420-40h80q8 0 14-6t6-14q0-8-6-14t-14-6h-60v-40h60q8 0 14-6t6-14v-80q0-8-6-14t-14-6h-80q-8 0-14 6t-6 14q0 8 6 14t14 6h60v40h-60q-8 0-14 6t-6 14v80q0 8 6 14t14 6Zm260-80v60q0 8 6 14t14 6q8 0 14-6t6-14v-160q0-8-6-14t-14-6q-8 0-14 6t-6 14v60h-40v-60q0-8-6-14t-14-6q-8 0-14 6t-6 14v80q0 8 6 14t14 6h60Z"/></svg>
                div(class="card-body")
                    h5(class="card-title") Працюємо 24/7
                    p(class="card-text") Наш сервіз працює цілодобово, без вихідних днів
            div.col-lg-3.pt-4(class="card")
                <svg xmlns="http://www.w3.org/2000/svg" height="4em" viewBox="0 -960 960 960"><path d="M233.755-177.694q-46.832 0-79.524-32.756t-32.692-79.551H90.001q-15.366 0-25.76-10.394-10.394-10.394-10.394-25.759v-381.537q0-30.308 21-51.308t51.307-21h472.307q29.827 0 51.067 21.241 21.241 21.24 21.241 51.067v80h69.999q17.173 0 32.538 7.682 15.365 7.683 25.308 21.24L898.922-464.46q3.615 4.52 5.423 9.943 1.808 5.423 1.808 11.75v116.613q0 15.365-10.394 25.759t-25.76 10.394h-36.153q0 46.795-32.783 79.551t-79.615 32.756q-46.832 0-79.524-32.756-32.693-32.756-32.693-79.551H346.153q0 46.923-32.783 79.615-32.782 32.692-79.615 32.692Zm.091-59.998q22 0 37.154-15.154 15.154-15.154 15.154-37.155 0-22-15.154-37.154-15.154-15.154-37.154-15.154-22.001 0-37.155 15.154t-15.154 37.154q0 22.001 15.154 37.155t37.155 15.154Zm487.693 0q22 0 37.154-15.154 15.154-15.154 15.154-37.155 0-22-15.154-37.154-15.154-15.154-37.154-15.154-22.001 0-37.155 15.154t-15.154 37.154q0 22.001 15.154 37.155t37.155 15.154Zm-50.77-192.307H850L749.999-562.693q-1.923-2.307-4.423-3.654-2.5-1.346-5.577-1.346h-69.23v137.694Z"/></svg>
                div(class="card-body")
                    h5(class="card-title") Швидка доставка
                    p(class="card-text") Кур’єр доставить Вам їжу впродовж однієї години
            div.col-lg-3.pt-4(class="card")
                <svg xmlns="http://www.w3.org/2000/svg" height="4em" viewBox="0 0 512 512"><path d="M323.8 34.8c-38.2-10.9-78.1 11.2-89 49.4l-5.7 20c-3.7 13-10.4 25-19.5 35l-51.3 56.4c-8.9 9.8-8.2 25 1.6 33.9s25 8.2 33.9-1.6l51.3-56.4c14.1-15.5 24.4-34 30.1-54.1l5.7-20c3.6-12.7 16.9-20.1 29.7-16.5s20.1 16.9 16.5 29.7l-5.7 20c-5.7 19.9-14.7 38.7-26.6 55.5c-5.2 7.3-5.8 16.9-1.7 24.9s12.3 13 21.3 13L448 224c8.8 0 16 7.2 16 16c0 6.8-4.3 12.7-10.4 15c-7.4 2.8-13 9-14.9 16.7s.1 15.8 5.3 21.7c2.5 2.8 4 6.5 4 10.6c0 7.8-5.6 14.3-13 15.7c-8.2 1.6-15.1 7.3-18 15.1s-1.6 16.7 3.6 23.3c2.1 2.7 3.4 6.1 3.4 9.9c0 6.7-4.2 12.6-10.2 14.9c-11.5 4.5-17.7 16.9-14.4 28.8c.4 1.3 .6 2.8 .6 4.3c0 8.8-7.2 16-16 16H286.5c-12.6 0-25-3.7-35.5-10.7l-61.7-41.1c-11-7.4-25.9-4.4-33.3 6.7s-4.4 25.9 6.7 33.3l61.7 41.1c18.4 12.3 40 18.8 62.1 18.8H384c34.7 0 62.9-27.6 64-62c14.6-11.7 24-29.7 24-50c0-4.5-.5-8.8-1.3-13c15.4-11.7 25.3-30.2 25.3-51c0-6.5-1-12.8-2.8-18.7C504.8 273.7 512 257.7 512 240c0-35.3-28.6-64-64-64l-92.3 0c4.7-10.4 8.7-21.2 11.8-32.2l5.7-20c10.9-38.2-11.2-78.1-49.4-89zM32 192c-17.7 0-32 14.3-32 32V448c0 17.7 14.3 32 32 32H96c17.7 0 32-14.3 32-32V224c0-17.7-14.3-32-32-32H32z"/></svg>
                div(class="card-body")
                    h5(class="card-title") Гарантована якість
                    p(class="card-text") Наша продукція має найвищий рівень якості ГОСТ-90210
            div.col-lg-3.pt-4(class="card")
                <svg xmlns="http://www.w3.org/2000/svg" height="4em" viewBox="0 0 384 512"><path d="M374.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-320 320c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l320-320zM128 128A64 64 0 1 0 0 128a64 64 0 1 0 128 0zM384 384a64 64 0 1 0 -128 0 64 64 0 1 0 128 0z"/></svg>
                div(class="card-body")
                    h5(class="card-title") Низькі ціни
                    p(class="card-text") У нас працює система накопичення балів після кожного замовлення
.container-fluid.bg-body-secondary.bt-comp
    .container
        .row.text-center
            h2 Про компанію
            p Насичене томатне пюре, ароматний гострий часник і запашні спеції: мускатний горіх, кориця, гвоздика, каєнський перець – все це створює пряний смак кетчупу. Ідеально доповнює такі страви, як вареники з м'ясом, борщ, картопля по-селянськи. Рекомендується додавати соус до м'яса, риби, овочів, макаронних виробів, запіканок і перших страв. 
.container-fluid.sale 
    .container 
        .row.justify-content-center.text-center
            p Акція! При замовленні двох піц - Pepsi в ПОДАРУНОК! Щонеділі при замовленні двох піц - Pepsi в ПОДАРУНОК! Збирайте компанію друзів, і ваші посиденьки стануть ще смачнішими з Cook Drive!
            a.fancy-button.my-3.text-uppercase(href="#") Переглянути меню
.container-fluid 
    .container 
        .row.text-uppercase.text-center.popular-meals
            h2.py-3 Наші популярні страви
            div
                a.fancy-button.col-lg-3(href="#") Перші блюда
                a.fancy-button.col-lg-3(href="#") Другі блюда
                a.fancy-button.col-lg-3(href="#") Напої
                a.fancy-button.col-lg-3(href="#") Десерт
.container-fluid.food-line
        .row
.container-fluid
    .container 
        .row.popular-meals.justify-content-center.py-4
            a.fancy-button.col-lg-3(href="#") Показати більше
.container-fluid.bg-body-secondary.py-5.justify-content-center.text-center
    .container
        .row
            h2 Відгуки покупців
            p Дуже сподобалася надзвичайно швидка доставка (22 хвилини від прийняття замовлення до доставки під двері) та як завжди смачна їжа. Дякую! Окрема подяка хлопцю з доставки (ввічливий, приємний), під час мого здивування за швидкість запропонував залишити відгук.
        .row.direction-row.portrait-row.justify-content-center
            img(src="../img/blonde.png", alt="poratrait")            
            img.mx-3(src="../img/guy.png", alt="poratrait")            
            img(src="../img/red.png", alt="poratrait")  
            span.doots
               
        